<mat-form-field appearance="outline">
  <input
    matInput
    type="text"
    [(ngModel)]="value"
    [placeholder]="placeholder"
    [readonly]="readonly"
    [disabled]="disabled"
    [maxlength]="maxLength ?? null"
    [matAutocomplete]="auto"
    (ngModelChange)="filterOptions(); valueChange.emit($event)"
  />
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
