:host {
  max-height: inherit;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 20px 20px 0;

  .title {
    font-size: 18px;
    font-weight: bold;
  }

  .subtitle {
    font-size: 14px;
    font-style: italic;
    color: #6e6e6e;
  }
}

hr {
  margin: 15px 0;
}

.body {
  padding: 15px 20px 20px;

  .times {
    row-gap: 10px;
    column-gap: 30px;
  }

  .label {
    font-size: 16px;
    margin-bottom: 5px;
  }
}

.chip {
  padding: 5px 10px;
  border-radius: 50px;
  overflow: hidden;
  transition: width 200ms ease;
  background-color: #cccccc;

  .x {
    margin-left: -5px;
    width: 0;
    opacity: 0;
    transition: opacity ease 200ms, width ease 200ms, margin-left ease 200ms;
    cursor: pointer;
  }

  &:hover .x {
    margin-left: 0;
    width: min-content;
    opacity: 0.5;
  }

  .x:hover {
    opacity: 1;
  }

}

.footer {
  padding: 0 10px 10px 10px;

  .delete-button {
    margin-right: auto;
  }
}