.header {
  padding: 20px 20px 0;

  .title {
    font-size: 18px;
    font-weight: bold;
  }

  .subtitle {
    font-size: 14px;
    font-style: italic;
    color: #6e6e6e;
  }
}

hr {
  margin: 15px 0;
}

.body {
  padding: 0 20px 20px;

  .times {
    row-gap: 10px;
    column-gap: 30px;
  }

  .label {
    font-size: 16px;
    margin-bottom: 5px;
  }
}