mat-form-field
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
  .mat-mdc-form-field-infix {
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: unset;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}
.mat-mdc-text-field-wrapper {
  background-color: #fff;
  border-radius: 5px !important;
}

button.mdc-button {
  padding: 0 15px;
  min-width: unset;
}

button.mat-mdc-icon-button {
  width: 40px !important;
  height: 40px !important;
  padding: 0 !important;
  font-size: 16px;
}

div.mat-mdc-dialog-surface {
  overflow: hidden;
}

button.cdk-focused .mat-mdc-button-persistent-ripple::before {
  opacity: 0 !important;
}

button.cdk-focused:hover .mat-mdc-button-persistent-ripple::before {
  opacity: 0.04 !important;
}
