:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  .left {
    display: flex;
    align-items: center;
  }

  .today {
    margin-left: 10px;
  }
}
