<div class="left">
  <div class="prev-next">
    <btn
      type="primary"
      icon="fa-solid fa-angle-left"
      (onClick)="calendar.prev()"
    ></btn>
    <btn
      type="primary"
      icon="fa-solid fa-angle-right"
      (onClick)="calendar.next()"
    ></btn>
  </div>
  <btn
    class="today"
    type="primary"
    text="Hoy"
    (onClick)="calendar.today()"
  ></btn>
</div>
<div class="right">
  <btn
    type="primary"
    text="Mes"
    (onClick)="calendar.changeView('dayGridMonth')"
  ></btn>
  <btn
    type="primary"
    text="Semana"
    (onClick)="calendar.changeView('timeGridWeek')"
  ></btn>
  <btn
    type="primary"
    text="Día"
    (onClick)="calendar.changeView('timeGridDay')"
  ></btn>
</div>
