.group-name {
  font-weight: bold;
  border-bottom: 1px solid #bdbdbd;
  margin-top: 15px;
  padding: 0 10px 1px;

  &:first-child {
    margin-top: 0;
  }
}

.list-item {
  margin: 5px 10px 0;
  background-color: #ececec;
  border-radius: 5px;
  padding: 5px;
  transition: background-color ease 200ms;

  &:hover {
    background-color: #e0e0e0
  }
}

.color-dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  border: 1px solid #bdbdbd;
}

.field {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 30px;
}