:host {
  overflow: hidden;
  height: 100%;
}

.main-content {
  overflow: hidden;
  max-height: 100%;
  height: 100%;
}

.groups {
  padding: 5px 0;
}

.group-name {
  font-weight: bold;
  border-bottom: 1px solid #bdbdbd;
  margin-top: 15px;
  padding: 0 10px 1px;

  &:first-child {
    margin-top: 0;
  }

  .add {
    font-size: 14px;
    text-decoration: underline;
    color: #b0b0b0;
    font-weight: normal;
    margin-left: 5px;
    opacity: 0;
    transition: opacity 200ms ease;
    cursor: pointer;

    &:hover {
      font-weight: 500;
      color: #858585;
    }
  }

  &:hover .add {
    opacity: 1;
  }
}

.list-item {
  margin: 5px 10px 0;
  background-color: #ececec;
  border-radius: 5px;
  padding: 5px;
  transition: background-color ease 200ms;

  i {
    padding: 0 5px 0 3px;

    &.fa-user {
      -webkit-text-stroke: 1.2px black;
    }
  }

  &:hover {
    background-color: #e0e0e0;
  }

  &.selected {
    background-color: #c8c8dc;
  }
}

.field {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 15px;
}

.sidebar-content {
  background-color: #ececec;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.delete-button {
  margin-right: auto;
}
