<div class="flex main-content">
  <div class="grow">
    <scroll scroll="both">
      <div class="Personal">
        <div class="group-name">
          Personal <span class="add" (click)="addEmployee()">Añadir...</span>
        </div>
        <div
          class="list-item"
          [class.selected]="employee.id == selectedEmployee?.id"
          *ngFor="let employee of config.personal"
          (click)="selectEmployee(employee)"
        >
          <i class="fa-solid fa-user" [style.color]="employee.color"></i>
          <span>{{ employee.name }}</span>
        </div>
        <div class="group-name">
          Habitaciones <span class="add" (click)="addRoom()">Añadir...</span>
        </div>
        <div
          class="list-item"
          [class.selected]="room.id == selectedRoom?.id"
          *ngFor="let room of config.rooms"
          (click)="selectRoom(room)"
        >
          <i class="fa-solid fa-house-medical"></i>
          <span>{{ room.name }}</span>
        </div>
        <div class="group-name">
          Máquinas <span class="add" (click)="addMachine()">Añadir...</span>
        </div>
        <div
          class="list-item"
          [class.selected]="machine.id == selectedMachine?.id"
          *ngFor="let machine of config.machines"
          (click)="selectMachine(machine)"
        >
          <i class="fa-solid fa-computer"></i>
          <span>{{ machine.name }}</span>
        </div>
      </div>
    </scroll>
  </div>
  <sidebar [opened]="sidebarOpened" (afterClose)="unselect()">
    <div class="sidebar-content">
      <div class="flex-col grow gap-15">
        <ng-container *ngIf="selectedEmployee != null; else room">
          <div class="field">
            <span>Nombre: </span>
            <text-box
              [(value)]="selectedEmployee.name"
              (valueChange)="checkDirty()"
            ></text-box>
          </div>
          <div class="field">
            <span>Color: </span>
            <color-box
              [(value)]="selectedEmployee.color"
              (valueChange)="checkDirty()"
            ></color-box>
          </div>
        </ng-container>
      </div>
      <div class="flex gap-5 justify-end align-center">
        <btn
          class="delete-button"
          icon="fa-solid fa-trash"
          type="warn"
          [iconButton]="true"
          (onClick)="remove()"
        ></btn>
        <btn
          [disabled]="pristine"
          type="primary"
          text="Guardar"
          (onClick)="save()"
        ></btn>
        <btn text="Cancelar" (onClick)="sidebarOpened = false"></btn>
      </div>
    </div>
  </sidebar>
</div>

<ng-template #room>
  <ng-container *ngIf="selectedRoom != null; else machine">
    <div class="field">
      <span>Nombre: </span>
      <text-box
        [(value)]="selectedRoom.name"
        (valueChange)="checkDirty()"
      ></text-box>
    </div>
  </ng-container>
</ng-template>

<ng-template #machine>
  <div *ngIf="selectedMachine != null" class="field">
    <span>Nombre: </span>
    <text-box
      [(value)]="selectedMachine!.name"
      (valueChange)="checkDirty()"
    ></text-box>
  </div>
</ng-template>
