:host {
  display: block;
  max-height: 100%;

  &.vertical {
    overflow-x: hidden;
    overflow-y: auto;
  }

  &.horizontal {
    overflow-x: auto;
    overflow-y: hidden;
  }

  &.both {
    overflow: auto;
  }

  &.none {
    overflow: hidden;
  }

  &::-webkit-scrollbar-track {
    background: transparent;

  }

  &::-webkit-scrollbar {
    width: 9px;
  }

  &::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    background-clip: padding-box;
    border-radius: 20px;
    background-color: #adadadad;

    &:hover {
      background-color: #adadad;
    }
  }
}

@supports (overflow: overlay) {
  :host {
    &.vertical {
      overflow-y: overlay;
    }

    &.horizontal {
      overflow-x: overlay;
    }

    &.both {
      overflow: overlay;
    }
  }
}