:host {
  display: block;
  max-height: 100%;
  padding-right: 2px;
  margin-right: 2px;

  &.vertical {
    overflow-x: hidden;
    overflow-y: auto;
  }

  &.horizontal {
    overflow-x: auto;
    overflow-y: hidden;
  }

  &.both {
    overflow: auto;
  }

  &.none {
    overflow: hidden;
  }

  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;

  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #adadad;
    border-radius: 2px;
  }
}