<calendar-toolbar [calendar]="calendar"></calendar-toolbar>
<full-calendar #calendar [options]="options">
  <ng-template #eventContent let-arg>
    <ng-container
      *ngIf="!(arg.event.id | nullOrEmpty); else selection"
      [ngTemplateOutlet]="reservation"
      [ngTemplateOutletContext]="{ arg: arg }"
    ></ng-container>
    <ng-template #selection>
      <div>{{ arg.timeText }}</div>
    </ng-template>
  </ng-template>
</full-calendar>

<ng-template #reservation let-arg="arg">
  <minimal-reservation-tile
    *ngIf="arg.view.type == 'dayGridMonth'; else fullReservation"
    class="flex"
    [event]="arg.event"
  >
  </minimal-reservation-tile>

  <ng-template #fullReservation>
    <reservation-tile [event]="arg.event"></reservation-tile>
  </ng-template>
</ng-template>
