<button
  *ngIf="text != null; else iconBtn"
  mat-flat-button
  [color]="type"
  [disabled]="disabled"
  (click)="onClick.emit()"
  (dblclick)="onDblClick.emit()"
  (auxclick)="onRightClick.emit()"
>
  <div class="button-content">
    <i *ngIf="icon != null" [class]="icon"></i>
    <span *ngIf="text != null">{{ text }}</span>
  </div>
</button>

<ng-template #iconBtn>
  <button
    mat-icon-button
    [color]="type"
    [disabled]="disabled"
    (click)="onClick.emit()"
    (dblclick)="onDblClick.emit()"
    (auxclick)="onRightClick.emit()"
  >
    <i *ngIf="icon != null" [class]="icon"></i>
    <span *ngIf="text != null">{{ text }}</span>
  </button>
</ng-template>
